:root {
  --black-dark: #141523;
  --black-darker: #0e0c28;
  --black-darkest: #000011;
  --black-light: #1a1c28;
  --black-lighter: #242b42;
  --gray-light: #364061;
  --colorful-gradient: linear-gradient(
    to right,
    rgb(231, 76, 60),
    rgb(255, 107, 203)
  );
  // --green-color: #000;
  // --blue-color: #000;
  // --dark-blue-color: #000;
  // --purple-color: #000;
  // --dark-purple-color: #000;
  // --orange-color: #000;
  // --red-color: #000;
}
