* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
  @media screen and (max-width: 1023px) {
    padding: 0 20px;
  }
}
.updown {
  animation: updown 2s infinite linear forwards alternate;
}
.rotate {
  animation: rotate 2s infinite linear forwards alternate;
  will-change: transform;
  backface-visibility: hidden;
}
@keyframes updown {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(20deg) translateZ(0);
  }
  to {
    transform: rotate(-20deg) translateZ(0);
  }
}
.svg-text {
  margin: 20px 0;
}
.evon-text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
  font-size: 100px;
  font-weight: bold;
  user-select: none;
}

.evon-text:nth-child(5n + 1) {
  stroke: #ff6bcb;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.evon-text:nth-child(5n + 2) {
  stroke: #ffb86c;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.evon-text:nth-child(5n + 3) {
  stroke: #fff;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.evon-text:nth-child(5n + 4) {
  stroke: #2cccff;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.evon-text:nth-child(5n + 5) {
  stroke: #20e3b2;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
.timeline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.timeline-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #242b42;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 150px;
  z-index: 2;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (max-width: 1023px) {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 479px) {
    font-size: 12px;
  }
}
.timeline-year {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border-radius: inherit;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  flex-shrink: 0;

  margin-right: 15px;
  @media screen and (max-width: 1023px) {
    font-size: 16px;
    margin-right: 10px;
  }
  @media screen and (max-width: 479px) {
    font-size: 12px;
    padding: 10px;
  }
  &.is-first {
    background-image: linear-gradient(
      to right bottom,
      rgb(51, 202, 248),
      rgb(51, 137, 248)
    );
  }
  &.is-second {
    background-image: linear-gradient(to right bottom, #fbe179, #eb5b81);
  }
  &.is-third {
    background-image: linear-gradient(to right bottom, #0f1767, #3295f7);
  }
  &.is-fourth {
    background-image: linear-gradient(to right bottom, #20e3b2, #00aefd);
  }
}
.timeline-item:nth-child(odd) {
  transform: translateX(50%);
  position: relative;
  left: 30px;
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #3d6ef7;
    border-radius: 100rem;
    margin: 25px auto;
    box-shadow: 0 0 0 6px rgb(61, 110, 247, 0.5),
      0 0 0 12px rgb(61, 110, 247, 0.25), 0 0 0 18px rgb(61, 110, 247, 0.05);
    position: absolute;
    left: -30px;
    transform: translateX(-50%);
    z-index: 2;
  }
}
.timeline-item:nth-child(even) {
  transform: translateX(-50%);
  position: relative;
  left: -30px;
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #3d6ef7;
    border-radius: 100rem;
    margin: 25px auto;
    box-shadow: 0 0 0 6px rgb(61, 110, 247, 0.5),
      0 0 0 12px rgb(61, 110, 247, 0.25), 0 0 0 18px rgb(61, 110, 247, 0.05);
    position: absolute;
    right: -30px;
    transform: translateX(50%);
    z-index: 2;
  }
}
