@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  background-color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.svg-text {
  margin: 20px 0;
}
.evon-text {
  fill: none;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
  font-size: 100px;
  font-weight: bold;
  user-select: none;
}

.evon-text:nth-child(5n + 1) {
  stroke: #ff6bcb;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.evon-text:nth-child(5n + 2) {
  stroke: #ffb86c;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.evon-text:nth-child(5n + 3) {
  stroke: #fff;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.evon-text:nth-child(5n + 4) {
  stroke: #2cccff;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.evon-text:nth-child(5n + 5) {
  stroke: #20e3b2;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
.logo-animation {
  max-width: 100px;
  margin-bottom: 20px;
  @media screen and (max-width: 1023px) {
    max-width: 50px;
  }
}

.-as {
  animation: float 2s infinite alternate forwards linear;
}
.-rk {
  animation: rocket 2s infinite alternate forwards linear;
}
@keyframes float {
  to {
    transform: rotate(-20deg) translateY(-10px);
  }
}
@keyframes rocket {
  to {
    transform: translateX(50px) translateY(0px);
  }
}
.rocket-wrapper {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 99999;
  img {
    max-width: 100px;
    pointer-events: none;
    user-select: none;
  }
}
.rocket-hello {
  animation: rocketHello 10s infinite forwards linear;
  &.reverse {
    animation-name: rocketHelloReverse;
  }
}
@keyframes rocketHello {
  from {
    transform: translateX(-100vw) translateY(-10vh);
  }
  to {
    transform: translateX(100vw) translateY(100vh);
  }
}
@keyframes rocketHelloReverse {
  from {
    transform: translateX(0) translateY(10vh);
  }
  to {
    transform: translateX(-100vw) translateY(100vh);
  }
}
